<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS2Starter</title>
    <base href="/">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'angular2', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <app>
      <%= yield %>
    </app>
  </body>
</html>
